@model List<Category>


    <ul class="sub-menu sub-mega-menu flex-wrap">
        @foreach (var category in Model as List<Category>)
        {
            <li>
                <a asp-controller="Categories" asp-action="Index" asp-route-id="@category.Id">@category.Name</a>
            </li>
        }
    </ul>


