@using Microsoft.AspNetCore.Identity
@using RestaurantRaterBooking.Models

@inject SignInManager<RestaurantRaterBooking.Models.ApplicationUser> SignInManager
@inject UserManager<RestaurantRaterBooking.Models.ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link" style="text-align: center; display: block;">
            <img src="~/assets/hinhanh/logo-2.png" alt="Logo" class="brand-image elevation-3" style="opacity: .8; margin: 0 auto; margin-left: 60px;">
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/admin_assets/images/file-icons/restaurant/icons8-user-48.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">@UserManager.GetUserName(User)</a>
                </div>
            </div>

            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item menu-open">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-utensils"></i>
                            <p>
                                Quản lý nhà hàng
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="nav-link">
                                    <i class="fas fa-list-alt nav-icon"></i>
                                    <p>Danh mục nhà hàng</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Restaurants" asp-action="Index" class="nav-link">
                                    <i class="fas fa-store nav-icon"></i>
                                    <p>Quản lý nhà hàng</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-pen-square"></i>
                            <p>
                                Quản lý bài đăng
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="PostCategories" asp-action="Index" class="nav-link">
                                    <i class="fas fa-folder nav-icon"></i>
                                    <p>Danh mục bài đăng</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Blogs" asp-action="Index" class="nav-link">
                                    <i class="far fa-file-alt nav-icon"></i>
                                    <p>Quản lý bài viết</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="News" asp-action="Index" class="nav-link">
                                    <i class="far fa-newspaper nav-icon"></i>
                                    <p>Quản lý tin tức</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>
                                Quản lý hệ thống
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Sliders" asp-action="Index" class="nav-link">
                                    <i class="fas fa-images nav-icon"></i>
                                    <p>Sliders</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Tags" asp-action="Index" class="nav-link">
                                    <i class="fas fa-tags nav-icon"></i>
                                    <p>Quản lý tag</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Accounts" asp-action="Index" class="nav-link">
                                    <i class="fas fa-user-cog nav-icon"></i> <!-- Đây là một biểu tượng tùy chọn, có thể thay đổi -->
                                    <p>Quản lý tài khoản</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
}
