<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>Zyra – Clean, Minimal HTML Template</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/png">


    <!-- CSS
    ============================================ -->
    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->
    <!-- <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/default.css"> -->
    <!--===== Plugins CSS (All Plugins Files) =====-->
    <!-- <link rel="stylesheet" href="~/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/assets/css/plugins/component.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/photoswipe.css">
    <link rel="stylesheet" href="~/assets/css/plugins/photoswipe-default-skin.css"> -->
    <!--====== Main Style CSS ======-->
    <!-- <link rel="stylesheet" href="~/assets/css/style.css"> -->
    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

    <link rel="stylesheet" href="~/assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="~/assets/css/style.min.css">

</head>

<body>

    <!--====== preloader Start ======-->

    <div class="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!--====== preloader Ends ======-->
    <!--====== Header Start ======-->

    <header class="header-area">

        @await Html.PartialAsync("_Navbar.cshtml")

    </header>

    <!--====== Header Ends ======-->

    <!--====== Search Start ======-->

    <div class="search-wrapper">
        <div class="search-box">
            <a href="javascript:void(0)" class="search-close"><i class="fal fa-times"></i></a>
            <div class="search-form">
                <label>Start typing and press Enter to search</label>
                <div class="search-input">
                    <form action="#">
                        <input type="text" placeholder="Search entire store…">
                        <button><i class="far fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--====== Search Ends ======-->
    
    @RenderBody();

    <!--====== Footer Start ======-->

    <footer class="footer-area pt-50 pb-55">
        @await Html.PartialAsync("_Footer.cshtml")
    </footer>

    <!--====== Footer Ends ======-->
    <!--====== Overlay Start ======-->

    <div class="overlay"></div>

    <!--====== Overlay Ends ======-->
    <!--====== Jquery js ======-->
    <script src="~/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== All Plugins js ======-->
    <!-- <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <script src="~/assets/js/plugins/modernizr.custom.js"></script>
    <script src="~/assets/js/plugins/jquery.dlmenu.js"></script>
    <script src="~/assets/js/plugins/jquery.paroller.min.js"></script>
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/select2.min.js"></script>
    <script src="~/assets/js/plugins/photoswipe.min.js"></script>
    <script src="~/assets/js/plugins/photoswipe-ui-default.min.js"></script>
    <script src="~/assets/js/plugins/jquery.elevateZoom.min.js"></script>
    <script src="~/assets/js/plugins/masonry.pkgd.min.js"></script>
    <script src="~/assets/js/plugins/jquery.appear.min.js"></script>
    <script src="~/assets/js/plugins/jquery.sticky-sidebar.min.js"></script>
    <script src="~/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/plugins/ajax-contact.js"></script> -->

    <script src="~/assets/js/plugins/parallax.min.js"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

    <script src="~/assets/js/plugins.min.js"></script>


    <!--====== Main Activation  js ======-->
    <script src="~/assets/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
